*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow:hidden;
}


nav{
    
    background-color:#5d4953;
    height:50px;
    justify-content:space-around;
    padding-top:12px;

}

.logo{
    color:rgb(238, 221, 221);
    font-size:22px;
    text-transform:uppercase;
    letter-spacing:2px;
    word-spacing:5px
}

.nav-links{
    position:absolute;
    right:0px;
    height:94vh;
    top:6vh;
    background-color:#5d4953;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:200px;
    padding-top:100px;
    list-style:none;
    transform:translateX(100%);
    transition:transform 0.5s ease-in;
}

.nav-links li{
    opacity:0;
}


.nav-links a{
    text-decoration: none;
    color:rgb(238, 221, 221);
    font-size:22px;
    letter-spacing:2px;
    font-weight:bold;
}

li{
    margin:40px;
}

.burger div{
    width:25px;
    height:3px;
    background-color:rgb(238,221,221);
    margin:5px;
    transition:all 0.3s ease;
}

.burger {
    
    position:absolute;
    top:10px;
    right:100px;
    cursor:pointer;
}

.nav-active{
    transform:translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}

.toggle.line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle.line2{
    opacity:0;
}
.toggle.line3{
    transform:rotate(45deg) translate(-5px,-6px);
}